<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.ArticleMapper" >
  <resultMap id="ArticleMap" type="com.blog.model.Article">
    <id column="aid" property="aid" />
    <id column="id" property="id" />
    <result column="title" property="title" />
    <result column="category_id" property="categoryId" />
    <result column="create_time" property="createTime" />
    <result column="delete_time" property="deleteTime" />
    <result column="update_time" property="updateTime"  />
    <result column="publish_time" property="publishTime"  />
    <result column="status" property="status"  />
    <result column="pageView" property="pageView" />
    <result column="is_encrypt" property="isEncrypt"/>
    <result column="content" property="content"  />
    <result column="html_content" property="htmlContent" />
    <result column="cover" property="cover"  />
    <result column="sub_message" property="subMessage"  />
    <association property="categories" javaType="com.blog.model.Category">
      <id column="cgId" property="categoryId" />
      <result column="cgName" property="categoryName"  />
    </association>
    <collection property="tags" ofType="com.blog.model.Tag">
      <id column="tagId" property="id" />
      <result column="tagName" property="name"  />
    </collection>
  </resultMap>

  <select id="selectByAllcount" resultType="java.lang.Integer" >
    select
    count(0)
    from article
  </select>

  <select id="selectList" resultMap="ArticleMap">
    select 
    a.title, a.publish_time, a.pageview, a.sub_message,
    a.id,c.id as tagId,c.name as tagName,a.cgId,a.cgName
    from (select a.id,a.title, a.publish_time, a.pageview, a.sub_message,b.name as cgName,b.id as cgId from Article a left join category b on a.category_id=b.id and b.`status`=0 where a.`status`=0) a
    left join article_tag_mapper b
    on a.id=b.article_id
    left join tag c
    on b.tag_id=c.id and c.status=0
    limit #{page,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>

  <insert id="insert1" parameterType="com.blog.model.Article">
    insert into article (aid, id, title,
      category_id, create_time, delete_time,
      update_time, publish_time, status,
      pageview, is_encrypt, content,
      html_content, cover, sub_message
      )
    values (#{aid,jdbcType=INTEGER}, #{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
      #{categoryId,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{deleteTime,jdbcType=BIGINT},
      #{updateTime,jdbcType=BIGINT}, #{publishTime,jdbcType=BIGINT}, #{status,jdbcType=BIT},
      #{pageView,jdbcType=INTEGER}, #{isEncrypt,jdbcType=BIT}, #{content,jdbcType=LONGVARCHAR},
      #{htmlContent,jdbcType=LONGVARCHAR}, #{cover,jdbcType=LONGVARCHAR}, #{subMessage,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insert" parameterType="com.blog.model.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="pageView != null" >
        pageView,
      </if>
      <if test="isEncrypt != null" >
        is_encrypt,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="htmlContent != null" >
        html_content,
      </if>
      <if test="cover != null" >
        cover,
      </if>
      <if test="subMessage != null" >
        sub_message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="pageView != null" >
        #{pageView,jdbcType=INTEGER},
      </if>
      <if test="isEncrypt != null" >
        #{isEncrypt,jdbcType=BIT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="htmlContent != null" >
        #{htmlContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=LONGVARCHAR},
      </if>
      <if test="subMessage != null" >
        #{subMessage,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectDetailById" resultMap="ArticleMap">
    select
    a.title, a.publish_time, a.pageview, a.sub_message,
    a.id,c.id as tagId,c.name as tagName,a.cgId,a.cgName
    from (
        select a.id,a.title, a.publish_time, a.pageview,
            a.sub_message,b.name as cgName,b.id as cgId
        from (select * from Article where id=#{id,jdbcType=VARCHAR} and `status`=0) a left join category b
        on a.category_id=b.id and b.`status`=0
        where a.`status`=1) a
    left join article_tag_mapper b
    on a.id=b.article_id
    left join tag c
    on b.tag_id=c.id and c.status=0
  </select>

  <update id="addpageView" parameterType="com.blog.util.ParamMap">
    update article
    set pageView = pageView+1
    where id=#{id,jdbcType=VARCHAR}
  </update>
</mapper>