<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.ArticleMapper" >
  <resultMap id="ArticleMap" type="com.blog.model.Article">
    <id column="aid" property="aid" />
    <id column="id" property="id" />
    <result column="title" property="title" />
    <result column="category_id" property="categoryId" />
    <result column="create_time" property="createTime" />
    <result column="delete_time" property="deleteTime" />
    <result column="update_time" property="updateTime"  />
    <result column="publish_time" property="publishTime"  />
    <result column="status" property="status"  />
    <result column="pageView" property="pageView" />
    <result column="is_encrypt" property="isEncrypt"/>
    <result column="content" property="content"  />
    <result column="html_content" property="htmlContent" />
    <result column="cover" property="cover"  />
    <result column="sub_message" property="subMessage"  />
    <association property="categories" javaType="com.blog.model.Category">
      <id column="cgId" property="categoryId" />
      <result column="cgName" property="categoryName"  />
    </association>
    <collection property="tags" ofType="com.blog.model.Tag">
      <id column="tagId" property="tagId" />
      <result column="tagName" property="tagName"  />
    </collection>
  </resultMap>

  <select id="selectByAllcount" resultType="java.lang.Integer" >
    select
    count(0)
    from article
    where status=#{status,jdbcType=SMALLINT}
  </select>

  <select id="selectList" resultMap="ArticleMap">
    select
    a.cover,a.title, FROM_UNIXTIME(a.publish_time/1000,'%Y-%m-%d %H:%i:%s') as publish_time, a.pageview, a.sub_message,
    a.id,c.id as tagId,c.name as tagName,a.cgId,a.cgName
    from (select a.cover,a.id,a.title, a.publish_time, a.pageview, a.sub_message,b.name as cgName,b.id as cgId from article a left join category b on a.category_id=b.id and b.`status`=0 where a.`status`=0) a
    left join article_tag_mapper b
    on a.id=b.article_id
    left join tag c
    on b.tag_id=c.id and c.status=0
    order by publish_time desc
    limit #{page,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.blog.model.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="pageView != null" >
        pageView,
      </if>
      <if test="isEncrypt != null" >
        is_encrypt,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="htmlContent != null" >
        html_content,
      </if>
      <if test="cover != null" >
        cover,
      </if>
      <if test="subMessage != null" >
        sub_message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="pageView != null" >
        #{pageView,jdbcType=INTEGER},
      </if>
      <if test="isEncrypt != null" >
        #{isEncrypt,jdbcType=BIT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="htmlContent != null" >
        #{htmlContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=LONGVARCHAR},
      </if>
      <if test="subMessage != null" >
        #{subMessage,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectDetailById" resultMap="ArticleMap">
    select
    a.cover,a.html_content,a.title, a.publish_time, a.pageview, a.sub_message,
    a.id,c.id as tagId,c.name as tagName,a.cgId,a.cgName
    from (
        select a.cover,a.html_content,a.id,a.title, a.publish_time, a.pageview,
            a.sub_message,b.name as cgName,b.id as cgId
        from (select * from article where id=#{id,jdbcType=VARCHAR} and `status`=0) a left join category b
        on a.category_id=b.id and b.`status`=0
        where a.`status`=0) a
    left join article_tag_mapper b
    on a.id=b.article_id
    left join tag c
    on b.tag_id=c.id and c.status=0
  </select>

  <update id="addpageView" parameterType="com.blog.util.ParamMap">
    update article
    set pageView = pageView+1
    where id=#{id,jdbcType=VARCHAR}
  </update>

  <update id="updateArticle" parameterType="com.blog.model.Article">
    update article
    <set>
      <if test="title != null" >
        title=#{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id=#{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time=#{deleteTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time=#{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        publish_time=#{publishTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status=#{status,jdbcType=SMALLINT},
      </if>
      <if test="isEncrypt != null" >
        is_encrypt=#{isEncrypt,jdbcType=BIT},
      </if>
      <if test="content != null" >
        content=#{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="htmlContent != null" >
        html_content=#{htmlContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="cover != null" >
        cover=#{cover,jdbcType=LONGVARCHAR},
      </if>
      <if test="subMessage != null" >
        sub_message=#{subMessage,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id=#{id,jdbcType=VARCHAR}
  </update>

  <delete id="deleteArticle" parameterType="com.blog.model.Article">
    delete from article
    where id=#{id,jdbcType=VARCHAR}
    and status=1
  </delete>
</mapper>