<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.BlogConfigMapper" >
  <resultMap id="ResultMap" type="com.blog.model.BlogConfig" >
      <id column="id" property="id" />
      <result column="blog_name" property="blogName"  />
      <result column="view_password" property="viewPassword" />
      <result column="salt" property="salt"  />
      <result column="avatar" property="avatar"  />
      <result column="sign" property="sign"  />
      <result column="wxpay_qrcode" property="wxpayQrcode"  />
      <result column="alipay_qrcode" property="alipayQrcode"  />
      <result column="github" property="github"  />
      <result column="articleCount" property="ArticleCount" />
      <result column="categoryCount" property="categoryCount"  />
      <result column="tagCount" property="tagCount"  />
  </resultMap>
  <sql id="Base_Column_List" >
    id, blog_name, view_password, salt
  </sql>
  <sql id="Blob_Column_List" >
    avatar, sign, wxpay_qrcode, alipay_qrcode, github
  </sql>

  <select id="selectConfig" resultMap="ResultMap"  >
    select 
    avatar,blog_name,github,sign
    from blog_config
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.blog.model.BlogConfig" >
    insert into blog_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="blogName != null" >
        blog_name,
      </if>
      <if test="viewPassword != null" >
        view_password,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="sign != null" >
        sign,
      </if>
      <if test="wxpayQrcode != null" >
        wxpay_qrcode,
      </if>
      <if test="alipayQrcode != null" >
        alipay_qrcode,
      </if>
      <if test="github != null" >
        github,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="blogName != null" >
        #{blogName,jdbcType=VARCHAR},
      </if>
      <if test="viewPassword != null" >
        #{viewPassword,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=LONGVARCHAR},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=LONGVARCHAR},
      </if>
      <if test="wxpayQrcode != null" >
        #{wxpayQrcode,jdbcType=LONGVARCHAR},
      </if>
      <if test="alipayQrcode != null" >
        #{alipayQrcode,jdbcType=LONGVARCHAR},
      </if>
      <if test="github != null" >
        #{github,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.model.BlogConfig" >
    update blog_config
    <set >
      <if test="blogName != null" >
        blog_name = #{blogName,jdbcType=VARCHAR},
      </if>
      <if test="viewPassword != null" >
        view_password = #{viewPassword,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=LONGVARCHAR},
      </if>
      <if test="sign != null" >
        sign = #{sign,jdbcType=LONGVARCHAR},
      </if>
      <if test="wxpayQrcode != null" >
        wxpay_qrcode = #{wxpayQrcode,jdbcType=LONGVARCHAR},
      </if>
      <if test="alipayQrcode != null" >
        alipay_qrcode = #{alipayQrcode,jdbcType=LONGVARCHAR},
      </if>
      <if test="github != null" >
        github = #{github,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>