<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.CategoryMapper" >
  <resultMap id="Category" type="com.blog.model.Category" >
      <id column="aid" property="aid" />
      <id column="id" property="categoryId" />
      <result column="name" property="categoryName" />
      <result column="create_time" property="createTime" />
      <result column="update_time" property="updateTime" />
      <result column="status" property="status" />
      <result column="article_count" property="articleCount" />
      <result column="can_del" property="canDel" />
  </resultMap>

  <update id="updateById" parameterType="com.blog.model.Category" >
    update category
    <set >
      <if test="categoryName != null" >
        name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="canDel != null" >
        can_del = #{canDel,jdbcType=BIT},
      </if>
    </set>
    where id = #{categoryId,jdbcType=VARCHAR}
    <if test="status != null" >
    and can_del= 1
    </if>
  </update>

  <select id="selectList" resultMap="Category" >
    select
      id,article_count,`name`,create_time,`status`,update_time,can_del
    from category
    where `status`=0
  </select>

  <insert id="insert" parameterType="com.blog.model.Category" >
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="categoryId != null" >
        id,
      </if>
      <if test="categoryName != null" >
        name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="articleCount != null" >
        article_count,
      </if>
      <if test="canDel != null" >
        can_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="articleCount != null" >
        #{articleCount,jdbcType=INTEGER},
      </if>
      <if test="canDel != null" >
        #{canDel,jdbcType=BIT},
      </if>
    </trim>
  </insert>

  <delete id="deleteCategory">
    delete from category
    where id = #{categoryId,jdbcType=VARCHAR}
    and status=1
    and can_del= 1
  </delete>

  <update id="updateArtCount">
    update category set article_count=article_count+#{count,jdbcType=INTEGER}
    where id = #{categoryId,jdbcType=VARCHAR}
  </update>
</mapper>