<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.blog.pojo.Category" >
    <constructor >
      <idArg column="aid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="update_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="article_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="can_del" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    aid, id, name, create_time, update_time, status, article_count, can_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.blog.pojo.CategoryKey" >
    select 
    <include refid="Base_Column_List" />
    from category
    where aid = #{aid,jdbcType=INTEGER}
      and id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.blog.pojo.CategoryKey" >
    delete from category
    where aid = #{aid,jdbcType=INTEGER}
      and id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.blog.pojo.Category" >
    insert into category (aid, id, name, 
      create_time, update_time, status, 
      article_count, can_del)
    values (#{aid,jdbcType=INTEGER}, #{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}, #{status,jdbcType=BIT}, 
      #{articleCount,jdbcType=INTEGER}, #{canDel,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.blog.pojo.Category" >
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="articleCount != null" >
        article_count,
      </if>
      <if test="canDel != null" >
        can_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="articleCount != null" >
        #{articleCount,jdbcType=INTEGER},
      </if>
      <if test="canDel != null" >
        #{canDel,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.pojo.Category" >
    update category
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="articleCount != null" >
        article_count = #{articleCount,jdbcType=INTEGER},
      </if>
      <if test="canDel != null" >
        can_del = #{canDel,jdbcType=BIT},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
      and id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.pojo.Category" >
    update category
    set name = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT},
      article_count = #{articleCount,jdbcType=INTEGER},
      can_del = #{canDel,jdbcType=BIT}
    where aid = #{aid,jdbcType=INTEGER}
      and id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>