<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.CommentsMapper" >
  <resultMap id="BaseResultMap" type="com.blog.model.Comments" >
      <id column="id" property="id" />
      <result column="article_id" property="articleId" />
      <result column="parent_id" property="parentId"  />
      <result column="reply_id" property="replyId"  />
      <result column="name" property="name"  />
      <result column="email" property="email"  />
      <result column="create_time" property="createTime"  />
      <result column="delete_time" property="deleteTime"  />
      <result column="status" property="status" />
      <result column="is_author" property="isAuthor"  />
      <result column="source_content" property="sourceContent" />
      <result column="content" property="content" />
      <result column="ip" property="ip" />
      <result column="articleTitle" property="articleTitle" />
      <collection property="children" ofType="com.blog.model.Comments">
        <id column="childId" property="id" />
        <result column="childArticleId" property="articleId" />
        <result column="childParentId" property="parentId"  />
        <result column="childReplyId" property="replyId"  />
        <result column="childName" property="name"  />
        <result column="childEmail" property="email"  />
        <result column="childCreateTime" property="createTime"  />
        <result column="childDeleteTime" property="deleteTime"  />
        <result column="childIsAuthor" property="isAuthor"  />
        <result column="childSourceContent" property="sourceContent" />
        <result column="childContent" property="content" />
      </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    id, article_id, parent_id, reply_id, name, email, create_time, delete_time, status, 
    is_author
  </sql>

  <sql id="Blob_Column_List" >
    content, source_content
  </sql>

  <select id="selectByArtId" resultMap="BaseResultMap">
    SELECT
	*
    FROM
	( SELECT
	article_id,
	FROM_UNIXTIME(comments.create_time/1000,'%Y-%m-%d %H:%i:%s') as create_time,
	id,
	is_author,
	NAME,
	parent_id,
	reply_id,
	source_content,
    <if test="articleId == null">
        ip,
        (select title from article where article_id=article.id) as articleTitle,
    </if>
	content
	FROM comments
	WHERE status=0
	and parent_id=0
	<if test="articleId != null">
	and article_id = #{articleId,jdbcType=VARCHAR}
    </if>
	) master
	<if test="articleId !=null">
	LEFT JOIN (
	SELECT
		article_id AS childArticleId,
		FROM_UNIXTIME(comments.create_time/1000,'%Y-%m-%d %H:%i:%s') AS childCreateTime,
		id AS childId,
		is_author AS childIsAuthor,
		NAME AS childName,
		parent_id AS childParentId,
		reply_id AS childReplyId,
		source_content as childSourceContent,
		content as childContent
	FROM
		comments
	WHERE
		STATUS = 0
	AND article_id = #{articleId,jdbcType=VARCHAR}
	) children ON master.id = children.childParentId
    </if>
	<if test="page != null and pageSize !=null">
	limit #{page,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comments
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <select id="selectParentId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select parent_id from comments
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertComment" parameterType="com.blog.model.Comments" >
    insert into comments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="replyId != null" >
        reply_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isAuthor != null" >
        is_author,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="sourceContent != null" >
        source_content,
      </if>
      <if test="ip != null">
          ip
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="replyId != null" >
        #{replyId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="isAuthor != null" >
        #{isAuthor,jdbcType=BIT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="sourceContent != null" >
        #{sourceContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectCount"  resultType="java.lang.Integer">
    select count(0)
    from comments
    where status=0 and parent_id=0
    <if test="id != null">
    and article_id = #{id,jdbcType=VARCHAR}
    </if>
  </select>

</mapper>